@import 'nib'

body
	font: 12px sans-serif;

header
	position: fixed
	top: 0; height: 60px; left: 0; right: 0;
	z-index: 2
	background-color: silver

	#chosen-methods
		width: 400px

	#chosen-tree-ui-type
		width: 120px
	#kill-children-threshold
		width: 60px
.tree
	position: fixed
	top: 60px; right: 0; left: 0; bottom: 70px;
	overflow: auto
	z-index: 1

footer
	position: fixed
	right: 0; left: 0; bottom: 0;
	height: 70px
	overflow: auto
	background-color: silver


.node circle
	fill: #fff;
	stroke: steelblue;
	stroke-width: 1.5px;

.node
	font-size: 10px;

.link
	fill: none;
	stroke: #ccc;
	stroke-width: 1.5px;


// treemap
rect
	fill: none;
	stroke: #fff;



footer 
	values-container()
		outline: solid 1px gray
	value-field()
		display: inline-block;
		margin: 0 .2em 0 .2em;
		overflow: ellipsis
		width: 40px

	.summary
	
		clear:both
		h2
			display: inline-block
			margin:0; padding:0;
			width: 50%
			font-size: 14px
			overflow: ellipsis
		.all-methods-summary
			display: inline-block
			values-container()
			> span
				value-field()

	ul.node-methods-stats
		margin: 3px 0 0 0; padding: 0;
		> li
			display: inline-block;
			width: 25%;
			margin: 0; padding: 0;
			list-style:none;
			values-container()
			> span
				value-field()
				&.method 
					font-weight: bold
					width: 50px