body {
  font: 12px sans-serif;
}
header {
  position: fixed;
  top: 0;
  height: 60px;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: #c0c0c0;
}
header input[type=text] {
  margin: 1px 0;
  padding: 5px;
  height: 15px;
}
header #chosen-tests {
  width: 160px;
}
header #chosen-superCampaigns {
  width: 210px;
}
header #chosen-refs {
  width: 120px;
}
header #chosen-methods {
  width: 400px;
}
header #chosen-tree-ui-type {
  width: 120px;
}
header #kill-children-threshold {
  width: 60px;
}
.tree {
  position: fixed;
  top: 60px;
  right: 0;
  left: 0;
  bottom: 70px;
  overflow: auto;
  z-index: 1;
}
footer {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  height: 70px;
  overflow: auto;
  background-color: #c0c0c0;
}
.node circle {
  fill: #fff;
  stroke: #4682b4;
  stroke-width: 1.5px;
}
.node {
  font-size: 10px;
}
.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
rect {
  fill: none;
  stroke: #fff;
}
rect.selected {
  -webkit-transition: outline 0.5s;
  -moz-transition: outline 0.5s;
  -o-transition: outline 0.5s;
  -ms-transition: outline 0.5s;
  transition: outline 0.5s;
  outline: solid 6px #000;
}
footer .summary {
  clear: both;
}
footer .summary h2 {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 75%;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
footer .summary h2 a {
  text-decoration: none;
  cursor: pointer;
}
footer .summary h2 a:hover {
  text-decoration: underline;
}
footer .summary h2 a:first-child:before {
  padding: 0;
  content: '';
}
footer .summary h2 a:before {
  padding: 0 4px;
  content: '/';
}
footer .summary .all-methods-summary {
  display: inline-block;
  outline: solid 1px #808080;
}
footer .summary .all-methods-summary > span {
  display: inline-block;
  margin: 0 0.2em 0 0.2em;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  width: 40px;
}
footer ul.node-methods-stats {
  margin: 3px 0 0 0;
  padding: 0;
}
footer ul.node-methods-stats > li {
  display: inline-block;
  width: 25%;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: solid 1px #808080;
}
footer ul.node-methods-stats > li > span {
  display: inline-block;
  margin: 0 0.2em 0 0.2em;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  width: 40px;
}
footer ul.node-methods-stats > li > span.method {
  font-weight: bold;
  width: 50px;
}
