<!doctype html>
<html>
    <head>
        <title><%= title %></title>
        <script src="javascript/libs/jquery2.js"></script>
        <script src="javascript/libs/require.js"></script>
        <script src="javascript/libs/d3.js"></script>
        <script src="javascript/libs/d3-helper-tooltip.js"></script>
        <script src="javascript/libs/chosen/chosen.jquery.js"></script>
        <link href="javascript/libs/chosen/chosen.css" type="text/css" rel="Stylesheet" />
        <link href="home/style/index.css" type="text/css" rel="Stylesheet" />
    </head>
<body>
	<header>
		<select id="chosen-countries" data-placeholder="Country"></select>
		<input type="date" id="fromDate" min="2013-07-01" max="2013-10-05"/> -
        <input type="date" id="toDate" min="2013-07-01" max="2013-10-04"/>
		<select id="chosen-methods" multiple data-placeholder="Methods..."></select>
		<input type="checkbox" id="chosen-methods-orand" checked />
		<label for="chosen-methods-orand">OR</label>
	</header>
    <section class="tree">
    	
    </section>
    <section class="stats">
    	<ul class="node-methods-stats"></ul>
    </section>

    <script src="javascript/libs/prelude-browser-min.js"></script>
    <script src="home/javascript/index.js"></script>
</body>
</html>