<!doctype html>
<html>
    <head>
        <title><%= title %></title>
        <script src="javascript/libs/jquery2.js"></script>
        <script src="javascript/libs/require.js"></script>
        <script src="javascript/libs/d3.js"></script>
        <script src="javascript/libs/d3-helper-tooltip.js"></script>
        <script src="javascript/libs/chosen/chosen.jquery.js"></script>
        <link href="javascript/libs/chosen/chosen.css" type="text/css" rel="Stylesheet" />
        <link href="home/style/index.css" type="text/css" rel="Stylesheet" />
    </head>
<body>
	<header>
		<div>
            <select id="chosen-countries" data-placeholder="Country"></select>
            <input type="date" id="fromDate" min="2013-07-01" max="2013-10-05"/> -
            <input type="date" id="toDate" min="2013-07-01" max="2013-10-04"/>
        </div>
		<div>
            <select id="chosen-tree-ui-type">
                <option value="tree-map">Tree Map</option>
                <option value="tree-long-branches">Branches</option>
            </select>
            <input id="kill-children-threshold" type="text" value="100" />
            <select id="chosen-methods" multiple data-placeholder="Methods..."></select>
            <input type="checkbox" id="chosen-methods-orand" checked />
            <label for="chosen-methods-orand">OR</label>
        </div>
	</header>
    <section class="tree">
    	
    </section>
    <footer class="stats">
        <div class="summary">
            <h2></h2>
            <div class='all-methods-summary'>
            </div>
        </div>

    	<ul class="node-methods-stats"></ul>
    </footer>

    <script src="javascript/libs/prelude-browser-min.js"></script>
    <script src="home/javascript/tree-longBranches.js"></script>
    <script src="home/javascript/tree-map-fontsize.js"></script>
    <script src="home/javascript/tree-map.js"></script>
    <script src="home/javascript/index.js"></script>
</body>
</html>