<!doctype html>
<html>
    <head>
        <title><%= title %></title>
        <script src="javascript/libs/jquery2.js"></script>
        <script src="javascript/libs/require.js"></script>
        <script src="javascript/libs/d3.js"></script>
        <script src="javascript/libs/d3-helper-tooltip.js"></script>
        <script src="javascript/libs/chosen/chosen.jquery.js"></script>
        <link href="javascript/libs/chosen/chosen.css" type="text/css" rel="Stylesheet" />
        <link href="home/style/index.css" type="text/css" rel="Stylesheet" />
    </head>
<body>
	<header>
		<select id="chosen-methods" multiple data-placeholder="Methods..."></select>
	</header>
    <section class="tree">
    	
    </section>
    <section class="stats">
    	<ul class="node-methods-stats"></ul>
    </section>

    <script src="javascript/libs/prelude-browser-min.js"></script>
    <script src="home/javascript/index.js"></script>
</body>
</html>